main {
    display: flex;
}

aside {   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 200px;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 50px;
}

#formArea {
    padding: 245px 40px 245px 40px;
    border-left: 15px double;
    flex: 1;
}

h2 {
    text-align: center;
}

label {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

input {
    width: 100%;
}
textarea {
    resize: none;
    width: 100%;
}

#formButton {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

.dark {
    background-color: black;
    height: 100vh;
    color: #bebebe
}

.dark h1 {
    color: black;
}

.dark #formButton {
    background-color: grey;
    color: black;
}

.dark input, textarea {
    background-color: grey;
}

.dark textarea {
    background-color: grey;
}

.light #mode {
    background-color: black;
}

.light {
    background-color:  white;
    color: black;
    height: 100vh;
}

.light h1 {
    color: white;
}

.light #formButton {
    background-color: black;
    color: white;
}

.light input, textarea {
    background-color: white;
}